{% extends 'base.html.twig' %}


{% block title %}Réservation n°{{ booking.id }}{% endblock %}

{% block body %}

    {# {% set rep = booking.representation.showId.artists.artistType %} #}
    {# {% set artist = rep.artist %}#}

    <div class="container">
        <h1>Votre réservation (n°{{ booking.id }})</h1>

        <div class="row">
            <div class="col">
                <div class="alert alert-light">
                    <h2>Details</h2>
                    <dl class="row">
                        <dt class="col-md-4">Numéro</dt>
                        <dd class="col-md-8">{{ booking.id }}</dd>

                        {% if booking.representation.showId.authors | length > 0 %}
                            <dt class="col-md-4">Auteurs</dt>
                            <dd class="col-md-8">
                                {% for author in booking.representation.showId.authors %}
                                    {{ author }} <br>
                                {% endfor %}
                            </dd>
                        {% endif %}

                        <dt class="col-md-4">Artists</dt>
                        <dd class="col-md-8">
                            {{ dump(booking.representation.showId.cast) }}
                        </dd>

                        <dt class="col-md-4">Spectacle</dt>
                        <dd class="col-md-8">{{ booking.representation.showId.title}}</dd>
                        <dt class="col-md-4">Date</dt>
                        <dd class="col-md-8">{{ booking.representation.date | date('d/m/Y') }} </dd>
                        <dt class="col-md-4">Montant total</dt>
                        <dd class="col-md-8">{{ booking.amount }} &euro;</dd>

                    </dl>
                    <hr>

                    <h2 class="alert-heading">Votre Salle:</h2>

                    <div class="row">
                        <div class="col-3">
                            <img src="{{ booking.representation.location.coverImage }}" class="avatar avatar-medium" alt="Avatar de {{ booking.representation.location.designation }}">
                        </div>
                        <div class="col-9">
                            <h4>
                                <a href="{{  path('location', {'slug': booking.representation.location.slug}) }}">{#{{ artist.firstname }} {{ artist.lastname }}#}</a>
                            </h4>


                        </div>
                    </div>
                    {{ booking.representation.showId.description | raw }}

                    <a href="{#{{ path('user_show', {'slug': author.slug}) }} #}" class="btn btn-primary"> Plus d'info {# {{ author.firstName }} #}</a>
                </div>
            </div>
            <div class="col">
                <div class="alert alert-light">


                    <h2 class="alert-heading">Votre spectacle</h2>
                    <h4>
                        <a href="{{ path('show_getshow', {'slug': booking.representation.showId.slug}) }}">{{ booking.representation.showId.title}}</a>
                    </h4>
                </div>
            </div>
        </div>
    </div>


{% endblock %}
